<h2>About HDNUG</h2>
<h3>Mission Statement</h3>
<p>To explore, examine, develop and advance applications and services built with the .Net Development platform. Effectively aiding the widespread learning and sharing of the .Net Development Platform in the Houston Technology Marketplace with our members, who are both individuals and corporations.</p>
<h3>Current Status</h3>
<p>Houston Dot Net Users Group (HDNUG - <a href="http://www.hdnug.org">www.hdnug.org</a>) was established on August 30, 2001 with our first monthly meeting. We meet on the second Thursday of each month at 6:30 PM. The meetings typically feature a speaker and open discussion is encouraged. The emphasis is on the technical aspects and the "How to" of Microsoft's .Net development platform. The organization is comprised of Houston area professionals. We are an independent non-profit organization. We accept corporate sponsorship.
</p>
<h3>Monthly Organizational Meetings</h3>
<p>We are an open organization and encourage our members to participate in our steering committee. Our steering committee meetings are held the Saturday after the regular monthly meeting. Please email <a href="mailto:info@hdnug.org">info@hdnug.org</a> for more information.</p>