<section class="content-section">
    <h3>Contact Information</h3>
    <h4>Speakers</h4>
    <a href="mailto:speakers@hdnug.org">speakers@hdnug.org</a>

    <p>HDNUG has an interesting and interested, tech savvy audience. The stage is open to good ideas concerning .Net and its usage. Sponsorship / Advertising are not linked to the podium. No preference for acceptance of speakership is related to an organization's status as an advertiser or sponsor. All it takes is a good idea! Presenters are requested to provide all presentation materials for download on the HDNUG website.  Presenters are asked to keep a technical focus and refrain from extended self-promotion of products and services. Currently we do not have access to the internet so plan accordingly. There is a good projector and speaker system in the room.</p>
    <h4>Sponsors</h4>
    <a href="mailto:sponsors@hdnug.org">sponsors@hdnug.org</a>

    <p>HDNUG, a professional non-profit organization, has sponsorship opportunities available for our monthly meetings. Membership in HDNUG is free so HDNUG relies on Sponsorship for support.</p>

    <strong>Benefits of Sponsorship:</strong>
    <ul>
        <li>Mention in our monthly mailings and invitations.</li>
        <li>Introduce your organization in front of the monthly meeting and network with members.</li>
        <li>Logo/Link on our Home Page.</li>
        <li>Logo on monthly slideshow.</li>
        <li>Description of your companies .NET products and/or Services.</li>
        <li>Visibility to 2400+ Member rapidly growing Houston based technical organization.</li>
        <li>HDNUG often shows the logos of its sponsors at trade shows.</li>
    </ul>
    <h4>General Questions</h4>
    <a href="mailto:info@hdnug.org">info@hdnug.org</a>
</section>