@model Hdnug.Web.Areas.Admin.Models.ViewModels.PrizeSponsorshipViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Create Prize Sponsorship</h4>
        <hr />
        @Html.ValidationSummary(true)
        
        @Html.Partial("_PrizeSponsorship", Model)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="button" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
