@model Hdnug.Web.Areas.Admin.Models.ViewModels.SponsorViewModel

@{
    ViewBag.Title = "Create";
}

<h3>Create Sponsor</h3>
<hr/>
@using (Html.BeginForm("Create", "Sponsors", FormMethod.Post, new { id = "uploadForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        @Html.Partial("_Sponsor", Model)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="button" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
