ul.k-pager-numbers.k-reset {
    line-height: 32px;
}

tr.k-alt.k-state-selected {
    background-color: #1984c8;
}

.header-info {
    display: table-cell;
    vertical-align: bottom;
}

#right-side-header {
    height: 205px;
}

.meeting-info {
    margin-bottom: 4px;
}

/*header {
    background-color: #3b6da8;
}

header h1 {
    color: #ffffff;
}

header h4 {
    color: #ffffff;
}

.navcontainer {
    padding: 8px 0 8px 0;
}

.navcontainer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

.navcontainer ul li {
    display: inline;
}

.navcontainer ul li a {
    text-decoration: none;
    padding: .2em 1em;
    color: #222;
}

.navcontainer ul li a:hover {
    color: #6f6f6f;
}

body {
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.content {
    padding-top: 15px;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
/*.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}*/
