
@{
    ViewBag.Title = "Index";
}

<div class="row admin-callout primary text-center-container">
    <div class="small-4 columns">
        <div class="callout primary text-center">
            <h5>Meetings</h5>
        </div>
    </div>
    <div class="small-4 columns">
        <div class="callout primary text-center">
            <h5>Speakers</h5>
        </div>
    </div>
    <div class="small-4 columns">
        <div class="callout primary text-center">
            <h5>Sponsors</h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="small-4 columns">
        <div class="callout primary text-center">
            <h5>Prize Sponsorships</h5>
        </div>
    </div>
    <div class="small-4 columns">
        <div class="callout primary text-center">
            <h5>Slider</h5>
        </div>
    </div>
    <div class="small-4 columns">
    </div>
</div>

@*<div class="row">
        <div class="small-4 columns">
            <a href=@Url.Action("Index", "Meetings")>
                <div class="callout primary text-center">
                    <h3>Meetings</h3>
                </div>
            </a>
        </div>
        <div class="small-4 columns">
            <a href=@Url.Action("Index", "Speakers")>
                <div class="callout primary text-center">
                    <h3>Speakers</h3>
                </div>
            </a>
        </div>
        <div class="small-4 columns">
            <a href=@Url.Action("Index", "Sponsors")>
                <div class="callout primary text-center">
                    <h3>Sponsors</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="small-4 columns">
            <a href=@Url.Action("Index", "PrizeSponsorships")>
                <div class="callout primary text-center">
                    <h3>Prize Sponsorships</h3>
                </div>
            </a>
        </div>
        <div class="small-4 columns">
            <a href=@Url.Action("Index", "Slider")>
                <div class="callout primary text-center">
                    <h3>Slider</h3>
                </div>
            </a>
        </div>
        <div class="small-4 columns">
        </div>
    </div>*@

