
@{
    ViewBag.Title = "Admin";
}

@section styles{
    <style>
        a.fill-div {
            display: block;
            height: 100%;
            width: 100%;
            text-decoration: none;
        }

        .flex-container {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }

        .flex-item {
            margin-right: .875rem;
            flex: 1 1 30%
        }
    </style>
}

<div class="small-10 columns" style="padding-right: 0px">
    <div class="flex-container">
        <div class="callout primary text-center flex-item">
            <a href=@Url.Action("Index", "Meetings") class="fill-div">
                <h5>Meetings</h5>
            </a>
        </div>
        <div class="callout primary text-center flex-item">
            <a href=@Url.Action("Index", "Speakers") class="fill-div">
                <h5>Speakers</h5>
            </a>
        </div>
        <div class="callout primary text-center flex-item">
            <a href=@Url.Action("Index", "Sponsors") class="fill-div">
                <h5>Sponsors</h5>
            </a>
        </div>
        <div class="callout primary text-center flex-item">
            <a href=@Url.Action("Index", "PrizeSponorships") class="fill-div">
                <h5>Prize Sponsorships</h5>
            </a>
        </div>
        <div class="callout primary text-center flex-item">
            <a href=@Url.Action("Index", "Slider") class="fill-div">
                <h5>Slider</h5>
            </a>
        </div>
        <div class="flex-item"></div>
    </div>
</div>

<aside class="large-2 columns">
    <div class="callout secondary">
        <h5>Actions</h5>
        <p>
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </p>
    </div>
</aside>
